nav {
  background-color: #936EFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 50px;
}

.logo a {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
}

.menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.menu li a:hover {
  color: #FF85C6;
}

