.1_60 { 
	overflow:hidden;
}
.e1_60 { 
	background-color:rgba(255, 255, 255, 1);
	width:1280px;
	height:832px;
	position:absolute;
}
.e1_111 { 
	background-color:rgba(183.81250709295273, 179.2172008752823, 179.2172008752823, 1);
	width:1280px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_112 { 
	width:34px;
	height:15px;
	position:absolute;
	left:22px;
	top:18px;
}
.e1_113 { 
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_114 { 
	width:242px;
	height:15px;
	position:absolute;
	left:1015px;
	top:18px;
}
.e1_115 { 
	width:35px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_116 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_117 { 
	width:18px;
	height:15px;
	position:absolute;
	left:73px;
	top:0px;
}
.e1_118 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_119 { 
	width:29px;
	height:15px;
	position:absolute;
	left:129px;
	top:0px;
}
.e1_120 { 
	color:rgba(0, 0, 0, 1);
	width:29px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_121 { 
	width:46px;
	height:15px;
	position:absolute;
	left:196px;
	top:0px;
}
.e1_122 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e4_146 { 
	background-color:rgba(183.81250709295273, 179.2172008752823, 179.2172008752823, 1);
	width:1280px;
	height:50px;
	position:absolute;
	left:0px;
	top:782px;
}
.e4_147 { 
	width:34px;
	height:15px;
	position:absolute;
	left:22px;
	top:18px;
}
.e4_148 { 
	color:rgba(0, 0, 0, 1);
	width:34px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e4_149 { 
	width:242px;
	height:15px;
	position:absolute;
	left:1015px;
	top:18px;
}
.e12_181 { 
	width:242px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_150 { 
	width:35px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_151 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e4_152 { 
	width:18px;
	height:15px;
	position:absolute;
	left:73px;
	top:0px;
}
.e4_153 { 
	color:rgba(0, 0, 0, 1);
	width:18px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e4_154 { 
	width:29px;
	height:15px;
	position:absolute;
	left:129px;
	top:0px;
}
.e4_155 { 
	color:rgba(0, 0, 0, 1);
	width:29px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e4_156 { 
	width:46px;
	height:15px;
	position:absolute;
	left:196px;
	top:0px;
}
.e4_157 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_125 { 
	background-color:rgba(0, 0, 0, 1);
	width:320px;
	height:50px;
	position:absolute;
	left:480px;
	top:0px;
}
.e1_126 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:23px;
	position:absolute;
	left:80px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e12_185 { 
	width:1280px;
	height:731px;
	position:absolute;
	left:0px;
	top:51px;
}
.e7_178 { 
	width:1089px;
	height:529px;
	position:absolute;
	left:122px;
	top:120px;
}
.e4_139 { 
	background-color:rgba(125.37500202655792, 114.92708265781403, 114.92708265781403, 1);
	width:960px;
	height:360px;
	position:absolute;
	left:48px;
	top:65px;
}
.e4_140 { 
	background-color:rgba(0, 0, 0, 1);
	width:320px;
	height:100px;
	position:absolute;
	left:320px;
	top:15px;
}
.e4_141 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:23px;
	position:absolute;
	left:80px;
	top:37px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e4_144 { 
	background-color:rgba(0, 0, 0, 1);
	width:280px;
	height:50px;
	position:absolute;
	left:340px;
	top:259px;
}
.e4_145 { 
	color:rgba(255, 255, 255, 1);
	width:167px;
	height:23px;
	position:absolute;
	left:56px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e7_179 { 
	width:100px;
	height:44px;
	position:absolute;
	left:430px;
	top:127px;
}
.e4_142 { 
	color:rgba(255, 255, 255, 1);
	width:100px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e4_143 { 
	color:rgba(255, 255, 255, 1);
	width:556px;
	height:24px;
	position:absolute;
	left:202px;
	top:184px;
	font-family:Inter;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
